.container {
  height: 90vh;
  margin: 2rem 30%;
  display: grid;
  grid-template:
    'a a a a a a a a a a a'
    'b b b b b b b b b b b'
    'c c c c c c c c c c c';
  grid-template-columns: 55px 55px;
  grid-template-rows: 55px 55px;
  width: 400px;
  height: 400px;
  grid-gap: 0px;
  margin: 0 30% 2rem 30%;
  background-color: transparent;
}

.cell {
  color: blue;
  font-size: 26px;
  width: 55px;
  height: 55px;
  vertical-align: middle;
  text-align: center;
  line-height: 55px;
  margin: 0;
  grid-gap: 0px;
  background-color: transparent;
}

.cell::after {
  width: 20px;
  display: block;
  content: '';
  background-color: transparent;
}

.floor {
  border: none;
  background-image: url('../assets/land.png');
  background-repeat: no-repeat;
  background-size: 55px;
}

.h-wall {
  background-image: url('../assets/walls/wall_1.png'), url('../assets/land.png');
  background-repeat: no-repeat, repeat;
  background-size: 55px 55px;
}

.v-wall {
  background-image: url('../assets/walls/wall_3.png'), url('../assets/land.png');
  background-color: transparent;
  background-repeat: no-repeat, no-repeat;
  background-size: 26px 55px, 55px;
}

.left-wall {
  background-position: left;
}

.right-wall {
  background-position: right;
}

.top-wall {
  background-image: url('../assets/walls/wall_3.png'),
    url('../assets/walls/wall_1.png'), url('../assets/land.png');
  background-repeat: no-repeat, no-repeat, no-repeat;
  background-size: 26px 55px, 55px, 55px;
}

.wall {
  border: none;
}

.mob {
  width: 55px;
  height: 55px;
  line-height: 55px;
  background-image: url('../assets/monster.png');
  background-repeat: no-repeat;
  background-size: 55px;
  background-position: center;
  background-color: transparent;
}

.coin-1 {
  background-image: url('../assets/decor_23.png');
}
.coin-2 {
  background-image: url('../assets/decor_24.png');
}

.coin-3 {
  background-image: url('../assets/decor_25.png');
}

.coin {
  width: 55px;
  height: 55px;
  line-height: 55px;
  background-repeat: no-repeat;
  background-size: 55px;
  background-position: center;
  background-color: transparent;
}

.reversed {
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
}

.rotateUp {
  transform: rotate(90deg);
}

.adventurer {
  background-image: url('../assets/character/1_IDLE_000.png');
  background-repeat: no-repeat;
  background-size: 55px;
  background-position: center;
  width: 55px;
  height: 55px;
  line-height: 55px;
}
