@import url('https://fonts.googleapis.com/css?family=Pushster&display=swap');

body {
  background-color: ;
}

.gameOver {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 30%;
  background-color: grey;
  border: 1px solid red;
  line-height: 55px;
  vertical-align: middle;
  text-align: center;
}

.header {
  font-family: 'Pushster', sans-serif;
  width: 40%;
  margin: 0 auto;
  height: 40px;
  line-height: 40px;
  font-size: 150%;
  font-weight: 100;
}

.coins {
  display: inline;
  float: right;
  text-align: left;
}

.coins img {
  height: 30px;
  width: 30px;
  vertical-align: middle;
}

.level {
  display: inline;
  float: left;
  text-align: left;
}
