@import url('https://fonts.googleapis.com/css?family=Pushster&display=swap');
@import url('https://fonts.cdnfonts.com/css/enchanted-land');

body {
  font-family: 'Enchanted Land', 'Pushster', sans-serif;
  font-size: 150%;
  font-weight: 100;
  letter-spacing: 0.1em;
  word-spacing: 0.2em;
}

.gameOver {
  position: fixed;
  top: 45%;
  left: 52%;
  transform: translate(-50%, -50%);
  width: 30%;
  background-color: #4e4c52;
  font-size: 200%;
  line-height: 55px;
  vertical-align: middle;
  text-align: center;
  z-index: 100;
  opacity: 0.5;
  color: white;
}

.header {
  width: 40%;
  margin: 0 auto;
  height: 40px;
  line-height: 40px;
}

.coins {
  display: inline;
  float: right;
  text-align: left;
}

.coins img {
  height: 30px;
  width: 30px;
  vertical-align: middle;
}

.level {
  display: inline;
  float: left;
  text-align: left;
}
